BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: CaseSensitive
Language: Cpp
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
